<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Product page</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-primary mb-5">Wecome</h1>
     
        <a href="/user" class="btn btn-primary mt-2">Register</a>
        <a href="/login" class="btn btn-danger mt-2">Log in</a>
        <a href="/products" class="btn btn-warning mt-2">All the products</a>
    </div>
</body>
</html>